extends ../template

block variables 
    - var title = 'Fall in love in Poland'

block content
    .section.header 
        .header__top
            svg.header__logo.svg_red
                use(xlink:href="assets/svg/sprite.svg#logo")