//colors
$red: #ed6950;
$yellow: #ffc74a;
$gray_sub:#606f81;
$gray_text: #8d97a5;
$gray_but: #bdc8d9;
$but_text_act:#b98000;
$yellow_title:#f8c759;



//resolutions
$big_tablets: 1100px;
$tablets : 768px;
$medium-tablets:643px; 
$mobile : 480px;
$small_mobile : 380px;